header {
    background: black;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.imagem {
    border-color: rgb(201, 131, 1);
    border-width: 2px;
    border-style: solid;
}

nav {
    position: absolute;
    top: 117px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.title {
    text-align: center;
    height: 40px;
    padding: 20px;
    font-size: 35px;
}

.paragrafo {
    text-align: center;
    font-size: 20px;
}

p {
    padding: 10px;
}